profiles {
    standard {  
        docker.enabled = true
        process {
            withLabel:containerized {
                container = 'alexandrebouchardcote/default:0.1.6'
            }
        }
    }
    cluster {
        apptainer.enabled = true
        process {
            scratch = true
            executor = 'slurm'
            cpus = 1
            memory = 4.GB
            time = '2h'
            clusterOptions = "--nodes=1 --account $ALLOCATION_CODE"
            withLabel:containerized {
                container = 'alexandrebouchardcote/default:0.1.6'
                module = 'apptainer'
            }
            withLabel:gpu {
                clusterOptions = "--nodes=1 --account ${ALLOCATION_CODE}-gpu --gpus 1"
            }
        }
    }
}

// Configs outside of profiles are applied to all profiles, but this only works correctly  
// if they do not occur in same scope as things in profile scopes,
// search 'Danger' in https://www.nextflow.io/docs/latest/config.html

resume = true // comment out to disable resume 

report {
    enabled = true 
    file = "report.html" 
    overwrite = true
}

dag {
    enabled = true 
    file = "dag.html"
    overwrite = true
}

timeline {
    enabled = true 
    file = "timeline.html"
    overwrite = true
}
